
<%- include('partials/header');-%>

    <section id="welcome">
        <div class="row">
            <div class="col-lg-6 welcome-div">
                <h1>Your Resources For Learning Music</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quos tempore reiciendis, consectetur odio ut quisquam id earum fuga inventore magnam, facilis explicabo autem corrupti.</p>
            </div>
            <div class="col-lg-6 welcome-div">
               
            </div>
        </div>
    </section>

 
   
    <section id="features" class="box2">
    <div class="row">
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-book-open fa-4x"></i> 
            <h3>Professionally Developed Courses</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3>Proven Curriculums</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-users fa-4x"></i>
            <h3>Community Driven Help & Support</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
     
    </div>
    
    </section>

 

    <%- include('partials/footer');-%>
    






<!-- <header>
    <div class="container container-nav navbar">
        <div class="site-title">
            <h1>CMMS Music Resources</h1>
            <p class="subtitle">YOUR PATH TO LEARNING MUSIC</p>
        </div>
        <nav class="nav-list"> 
            <ul>
                <li class="nav-list-item"><a href="#" class="nav-link current-page">Home</a></li>
                <li class="nav-list-item"><a href="#" class="nav-link">Articles</a></li>
                <li class="nav-list-item"><a href="#" class="nav-link">Courses</a></li>
                <li class="nav-list-item"><a href="#" class="nav-link">Tools</a></li>
                <li class="nav-list-item"><a href="#" class="nav-link">Prints</a></li>
            </ul>
        </nav>
    </div> <!--closed container -->
<!-- </header>--> 