
<%- include('partials/header');-%>

    <section id="welcome">
        <div class="row">
            <div class="col-lg-6 welcome-div">
                
                <img src="images/science.jpg" alt="">
                <h5>The Psychology of Music</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quos tempore reiciendis, consectetur odio ut quisquam id earum fuga inventore magnam, facilis explicabo autem corrupti.</p>
                
            </div>
            <div class="col-lg-3 welcome-div">
               
                <img class="img-medium" src="images/kid1.jpg" alt="">
                <h5>Cognitive Development With Early Music Education </h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
            </div>
            <div class="col-lg-3 welcome-div">
                
                <img class="img-medium" src="images/studio.jpg" alt="">
                <h5>Next Level Home Studios </h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
            </div>
            <div class="col-lg-3 welcome-div">
                
                <img class="img-medium" src="images/world.jpg" alt="">
                <h5>Music Around the World</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
            </div>
            <div class="col-lg-3 welcome-div">
                
                <img class="img-medium"src="images/songwriting.jpg" alt="">
                <h5>Masterful Songwriting</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                
            </div>


            <div class="col-lg-6 welcome-div">
                <h2>Top Courses</h2>
               <%if (articles.length > 0) { %>
               <% articles.forEach(function(article) { %>
                <h3 class='title'><%=article.title%></h3>
                <p class='snippet' ><%=article.snippet%> <a href="">more...</a></p>
                <%}) %>
              <% } %>
            </div>
        </div>
    </section>

 
   
    <section id="features" class="box2">
    <div class="row">
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-book-open fa-4x"></i> 
            <h3>Professionally Developed Courses</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3>Proven Curriculums</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="icon fas fa-users fa-4x"></i>
            <h3>Community Driven Help & Support</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde necessitatibus animi tempore modi beatae iure.</p>
        </div>
     
    </div>
    
    </section>



    <section id="summary" class="box2">
        <div class="row">
            <div class="col-lg-2 feature-box last-box">
                <h4>Courses</h4>
                <ul class="lists">
                    <li>Music Theory</li>
                    <li>History of Western Music</li>
                    <li>Music Technology</li>
                    <li>Piano Beginner to Advanced</li>
                    <li>Jazz Harmony</li>
                    <li>Songwriting</li>
                    <li><a href="#">Find More...</a></li>
                </ul>
            </div>
            <div class="col-lg-2 feature-box last-box">
                <h4>Articles</h4>
                <ul class="lists">
                    <li>Classical Guitar of Segovia</li>
                    <li>Modern Concertos</li>
                    <li>Music Industry Careers</li>
                    <li>Marketing for Musicians</li>
                    <li><a href="#">Find More...</a></li>
                </ul>
            </div>
            <div class="col-lg-2 feature-box last-box">
                
                <h4>Tools</h4>
                <ul class="lists">
                    <li>Metronome</li>
                    <li>Tuner</li>
                    <li>Practice Log</li>
                    <li><a href="#">Find More...</a></li>
                </ul>
            </div>
            <div class="col-lg-2 feature-box last-box">
                
                <h4>Free Downloads</h4>
                <ul class="lists">
                    <li>Staff Paper</li>
                    <li>Chord Charts</li>
                    <li>Instrument Fingering Charts</li>
                    <li>Progressions</li>
                    <li><a href="#">Find More...</a></li>
                </ul>
            </div>
            <div class="col-lg-2 feature-box last-box">
                
                <h4>About Us</h4>
                <ul class="lists">
                    <li>Our Vision</li>
                    <li>Our Team</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-lg-2 feature-box last-box">
                
                <h4>Members</h4>
                <ul class="lists">
                    <li>Contributors</li>
                    <li>Teach With Us</li>
                    <li><a href="#">Find More...</a></li>
                </ul>
            </div>
         
        </div>
        
        </section>

       

 

    <%- include('partials/footer');-%>
    






