
:root {
    --yellowish: #f9ed69;
    --orangeish: #f08a5d;
    --redish: #b83b5e;

}

body {
    margin: 0;
    font-family: 'Montserrat';
    background-image: url(/images/body1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    width: 3em;
    margin-right: .7em;
    margin-left: 0;
    padding: 0;
}
.logo-text {
    font-size: 2rem;
    font-weight: 700;
}

.dropdown-menu {
    background-color: #418e8d;
    font-size: .7rem;
  }
.dropdown-item {
      color: white;
  }
#title {
  
    
}

.nav-link {
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
    text-decoration: none;
    
}
.nav-item {
    color: white;
}
header {
  
}

.container-fluid {
   margin: 0;
   padding: 0;
}
h1 {
    font-size: 2rem;
    color: white
}
.subtitle {
    font-size: 1rem;
}
h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1.2rem;
    
}
p {
    font-size: .9rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.lists {
    text-align: left;
}
.last-box {
    text-align: left;
}







/*****************************
 welcome section 
 ****************************/

#welcome {

    padding: 5% 7%;
    border-radius: 30px;
    margin: 2%;
    background: rgb(204,235,231);
    background: linear-gradient(90deg, rgba(204,235,231,.8) 0%, rgba(242, 203, 88, 0.8) 100%);
   

}
.welcome-div {
    margin: 0;
}

img {
    width: 100%;
    margin-bottom: .9em;
    
}
.img-medium {
    width: 100%;
    margin-bottom: .9em;
    height: 50%;
}
@media (max-width: 650px) {
    img {
        width: 100%;
        margin-bottom: .9em;
        
    }
    .img-medium {
        width: 100%;
        margin-bottom: .9em;
        height: 70%;
    }
}


 /*******************
  features section 
  **********************/

#features {
    padding: 5% 10%;
    text-align: center;
    /* background-color: rgba(182, 219, 223, 0.9); */
    background: rgb(227,207,240);
background: linear-gradient(90deg, rgba(227,207,240,.9) 0%, rgba(202,227,182,.9) 100%);
    border-radius: 30px;
    margin: 2%;
   

}
.feature-box {
    margin-top: 0;
    padding: 3%;
}
.icon {
    padding: 3%;
    color: var(--redish);
    
}
h3 {
    font-size: 1.2rem;
}
/* .icon:hover */




#articles {
    margin: 5em;
}


.footer {
    width: 100%;
    padding: 1em;
    color: white;
    text-align: center;
  
    /* position: absolute; */
    bottom: 0;
    font-size: .8rem;
    background-color: rgba(20, 20, 38, .4)
}

#summary {
    background: rgb(240,207,212);
background: linear-gradient(90deg, rgba(200, 111, 124, 0.9) 0%, rgba(143, 158, 177, 0.9) 100%);
padding: 5% 10%;
    text-align: center;
    border-radius: 30px;
    margin: 2%;

}


.create-div {
    padding-top: 7%;
    color: white;
}
#create-header {
    text-align: center;
}

.details-div {
    background: rgb(204,235,231);
    background: linear-gradient(90deg, rgba(204,235,231,.8) 0%, rgba(242, 203, 88, 0.8) 100%);
    padding: 5% 5%;
    text-align: center;
    border-radius: 30px;
    margin: 5% 25% 5% ;
}
.details {
    /* background-color: orange; */
}

.articles-div {
    background: rgb(204,235,231);
    background: linear-gradient(90deg, rgba(204,235,231,.8) 0%, rgba(242, 203, 88, 0.8) 100%);
    padding: 5% 5%;
    text-align: left;
    border-radius: 30px;
    margin: 5% 25% 5% ;

}
.snippet {
    font-size: 1.5rem;
}

/* <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a> */